.day-list {
  transition: opacity 0.2s ease-out;
  color: #8395a7;
  height: 5rem;
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.day-list:hover {
  background-color: #ee5253;
  cursor: pointer;
  color: #222f3e;
}

.day-list--selected {
  background-color: darken(white, 5%);
  color: #222f3e;
  transition: opacity 0.2s ease-out;
  height: 5rem;
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.day-list--selected:hover {
  background-color: darken(white, 5%);
}

.day-list--full {
  opacity: 0.15;
  transition: opacity 0.2s ease-out;
  color: #8395a7;
  height: 5rem;
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.day-list__item {
  transition: opacity 0.2s ease-out;
    color: #8395a7;
    height: 5rem;
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

}